extends layout

block content
  form(method="GET" action="/delete-all").controls
    button(type="submit").delete-all#delete-all Delete All Torrents
    button(type="submit").copy-files#copy-files Copy files 
  table.torrents-table
    caption.torrents-table__caption Saved Torrents
    thead.torrents-table__header
      tr
        th.torrents-table__column-name.torrents-table__column-name_index #
        th.torrents-table__column-name Title
        th.torrents-table__column-name Tags
        th.torrents-table__column-name Torrent Path
        th.torrents-table__column-name Files
        th.torrents-table__column-name.torrents-table__column-name_size Size
        th.torrents-table__column-name URL
    tbody
      each torrent, index in torrents
        tr
          td.torrents-table__cell= index + 1
          td.torrents-table__cell= torrent.title
          td.torrents-table__cell= torrent.tags
          td.torrents-table__cell.torrents-table__cell_hoverable
            | #{torrent.filePath}
            .tooltip= torrent.filePath
            
          td.torrents-table__cell.torrents-table__cell_hoverable
            ul.files-list
              each file in torrent.files
                li.files-list__item= file
            .tooltip
                ul.files-list
                  each file in torrent.files
                    li.files-list__item= file
              
          td.torrents-table__cell= torrent.size
          td.torrents-table__cell
            a(href= torrent.url)= torrent.url


