extends layout

block content
  .controls
    a.button.button_dangerous(href="/delete-all-torrents") Delete torrents
    a.button.button_dangerous(href="/delete-all-downloads") Delete downloads
    a.button.button_dangerous(href="/delete-videos") Delete videos
    a.button.button_dangerous(href="/delete-contactsheets") Delete contactsheets
    a.button.button_dangerous(href="/delete-screenshots") Delete screenshots
    a.button.button_normal(href="/copy") Copy Downloads
    a.button.button_normal(href="/copied-files") Copied files
    a.button.button_normal(href="/get-metadata") Video metadata 
    a.button.button_normal(href="/contactsheets") Contactsheets
    a.button.button_normal(href="/upload-contactsheets") Upl. Contactsheets
    a.button.button_normal(href="/screenshots") Screenshots
    a.button.button_normal(href="/upload-screenshots") Upl. Screenshots
    a.button.button_normal(href="/archives") Archives
    a.button.button_normal(href="/upload-videos") Upload
    a.button.button_normal(href="/update-videos") Update videos
  table.torrents-table
    caption.torrents-table__caption Saved Torrents
    thead.torrents-table__header
      tr
        th.torrents-table__column-name.torrents-table__column-name_index #
        th.torrents-table__column-name Title
        th.torrents-table__column-name Tags
        th.torrents-table__column-name Torrent Path
        th.torrents-table__column-name Files
        th.torrents-table__column-name.torrents-table__column-name_size Size
        th.torrents-table__column-name URL
    tbody
      each torrent, index in torrents
        tr
          td.torrents-table__cell= index + 1
          td.torrents-table__cell= torrent.title
          td.torrents-table__cell= torrent.tags
          td.torrents-table__cell.torrents-table__cell_hoverable
            | #{torrent.filePath}
            .tooltip= torrent.filePath
            
          td.torrents-table__cell.torrents-table__cell_hoverable
            ul.files-list
              each file in torrent.files
                li.files-list__item= file
            .tooltip
                ul.files-list
                  each file in torrent.files
                    li.files-list__item= file
              
          td.torrents-table__cell= torrent.size
          td.torrents-table__cell
            a(href= torrent.url)= torrent.url


